<footer id="footer">
  <!-- Botones sociales-->
  <div class="botonessociales">
    <a [href]="service.github" class="navbar-brand has-logo">
      <img
        src="/assets/logos_redes/GitHub-Mark/PNG/GitHub-Mark-120px-plus.png"
        alt="Github"
        width="35"
        height="35"
        target="_blank"
      />
    </a>
    <a [href]="service.twitter" class="navbar-brand has-logo">
      <img
        src="/assets/logos_redes/Twitter_Logo.png"
        alt="Twitter"
        width="35"
        height="35"
        target="_blank"
      />
    </a>

    <a [href]="service.linkelid" class="navbar-brand has-logo">
      <img
        src="/assets/logos_redes/LinkedIn-Logos/LI-In-Bug.png"
        alt="LinkedIn"
        width="35"
        height="35"
        target="_blank"
      />
    </a>
  </div>

  <address>
    <div>
      <i class="fab fa-whatsapp" aria-hidden="true"></i> <a href="https://wa.me/5491161085258">1161085258</a> |
      <i class="fa fa-envelope" aria-hidden="true"></i>
      <a href="mailto:silvaeduardojavier@hotmail.com.com">
        silvaeduardojavier@hotmail.com</a
      >
      <p style="font-size: 8pt">
        2022 EduardoJSilva®. Todos los derechos reservados.<br />
        Webmaster:<a
          style="font-size: 6pt"
          href="mailto:silvaeduardojavier@hotmail.com"
          >silvaeduardojavier@hotmail.com</a
        >
      </p>
    </div>
  </address>
</footer>
