<div *ngIf="service.resetpassword==true" class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12">
      <div class="forgot">

        <h2>Olvidó su contraseña?</h2>
        <p>Cambie su contraseña en tres sencillos pasos. ¡Esto le ayudará a proteger su contraseña!</p>
        <ol class="list-unstyled">
          <li><span class="text-primary text-medium">1. </span>A continuación introduzca su dirección de correo
            electrónico.</li>
          <li><span class="text-primary text-medium">2. </span>Se le enviará un link temporal</li>
          <li><span class="text-primary text-medium">3. </span>Utilice el link para restablecer su contraseña</li>
        </ol>

      </div>

        <form [formGroup]="formEmail" class="card mt-4" (ngSubmit)="resetPassword($event)">

        <div class="card-body">
          <div class="form-group">
            <label for="email-for-pass">Ingrese su dirección de correo</label>
            <input (ngModelChange)="service.error417 = false" type="email" formControlName="email" [ngClass]="{'is-invalid': (Email?.errors && Email?.touched) || (service.usuarioYaRegistrado && Email?.touched), 'is-valid': (!Email?.errors && Email?.touched) || (!service.usuarioYaRegistrado && Email?.touched)}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" autocomplete="username">
            <div *ngIf='Email?.errors && Email?.touched'>
              <p class="text-danger">El email es requerido.</p>
              <p class="alert alert-info" *ngIf="Email?.hasError('email')" class="text-danger">
                El formato del email debe ser valido.
              </p>
            </div>
              <!--
            <input class="form-control" type="email" id="email-for-pass" required="" [(ngModel)]="correo"
              [ngModelOptions]="{standalone:true}">
              -->
              <small class="form-text text-muted">Ingrese el correo electrónico que
              utilizó para el registro. A continuación,
              verifique su casilla(revise la carpeta de spam).</small>
          </div>
        </div>
        <div class="card-footer">
          <div>
            <button [disabled]="formEmail.invalid" class="btn btn-success" type="submit">Obtener nueva contraseña</button>
            <p class="alert alert-danger" id="incorrecto" *ngIf="service.error417 && Email?.touched">{{mensajeIncorrecto}}</p>
          </div>
        </div>
        </form>
          <br>
          <div>
            <button class="btn btn-danger" type="button" (click)="service.resetpassword = false; this.service.loading = false; service.onlyRead=true; service.usuarioNot = false;">Cancelar</button>
          </div>
    </div>
  </div>
</div>
