<div *ngIf="userFoto" id="info-img">

        <img id="imagen-principal" [src]="userFoto" class="img-fluid" alt="">
   
    <button title="Modificar" class="btn fa-stack float-right"
        (click)="formulario.resetFormulario();service.showFormFoto= true" *ngIf='!service.onlyRead'><a href="/portfolio#info-img">
            <i class='fas fa-circle fa-stack-2x'></i>
            <i class='fas fa-camera fa-stack-1x fa-inverse'></i>
        </a>
    </button>
</div>

<app-foto-principal-form></app-foto-principal-form>