footer {
  margin: 15px;
  padding: 1em;
  border: solid;
  border-radius: 12px;
  border-color: rgb(8, 8, 8);
}

.botonessociales {
  position: relative;
  text-align: center;
}

.botonessociales img {
  border: 0;
}

.botonessociales a {
  width: 5vh;
  height: 5vh;
}

.footerdatos {
  text-align: center;
  font-size: 3vh;
}
