
<!--Cambio de contraseña-->
<div class="text-center">
  <div #inicio class="form-signin">

    <h2 class="h3 mb-3 fw-normal">Ingrese la nueva contraseña</h2>
    <form [formGroup]="form" class="form-signin" (ngSubmit)="onEnviarContrasenia($event)">

      <div class="form-floating">
        <label for="exampleInputPassword1">Password</label>

        <div class="input-group">
          <input (ngModelChange)="service.newpassword = false" placeholder="Password"
            class="form-control" type="password" formControlName="password"
            [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
            class="form-control" id="exampleInputPassword1" autocomplete="current-password" #vercontrasenia>
          <div class="input-group-append">
            <button id="show_password" class="btn btn-primary" type="button" (click)="mostrarPassword()"> <span
                class="fa fa-eye-slash icon"></span> </button>
          </div>
        </div>

        <div *ngIf="Password?.errors && Password?.touched">
          <p *ngIf="Password?.hasError('required')" class="text-danger">
            La contraseña es requerida.
          </p>
          <p *ngIf="Password?.errors?.['minlength']" class="text-danger">
            La contraseña debe tener 8 o más caracteres.
          </p>
        </div>
      </div>

      <div class="form-floating">
        <label for="exampleInputPassword2">ConfirmarPassword</label>
        <div class="input-group">
          <input (ngModelChange)="service.newpassword = false" placeholder="Confirmar Password"
            class="form-control" type="password" formControlName="confirmPassword"
            [ngClass]="{'is-invalid': ConfirmPassword?.errors && this.ConfirmPassword?.value != this.Password?.value && ConfirmPassword?.touched, 'is-valid': !ConfirmPassword?.errors && this.ConfirmPassword?.value == this.Password?.value && ConfirmPassword?.touched}"
            class="form-control" id="exampleInputPassword2" autocomplete="current-password" #vercontrasenia1>
          <div class="input-group-append">
            <button id="show_password1" class="btn btn-primary" type="button" (click)="mostrarConfirmarPassword()"> <span
                class="fa fa-eye-slash icon1"></span> </button>
          </div>
        </div>
          <p *ngIf="ConfirmPassword?.hasError('required') && ConfirmPassword?.touched" class="text-danger">
            repita la nueva contraseña.
          </p>
          <p *ngIf="this.ConfirmPassword?.value !== this.Password?.value && ConfirmPassword?.touched" class="text-danger">
            No coincide con la contraseña anteriormente ingresada.
          </p>
        </div>
        <input autocomplete="on" formControlName="email" [ngModel]='correo' hidden>
        <input autocomplete="on" formControlName="token" [ngModel]='token' hidden>

      <div style="text-align:center">
        <button [disabled]="this.ConfirmPassword?.value !== this.Password?.value || this.form.invalid" type="submit" class="w-100 btn btn-lg btn-primary">Enviar</button>
      </div>

    </form>

<br>
    <div>
      <a routerLink="/inicio"><button (click)="service.newpassword=false; service.resetpassword = false; this.service.loading = false; service.onlyRead=true; service.usuarioNot = false">INICIO</button></a>
    </div>

  </div>
</div>


