<article id="experiencia">
  <div *ngIf="experienciaList" class="card mat-card">
    <div class="card-title">
      <h2>Experiencia</h2>

      <!--Botones-->
      <div
        *ngIf="!service.onlyRead"
        name="botones_experiencia"
        style="float: right; display: block"
      >
        <!-- Botón Salir de todos los formularios-->
        <div
          title="Cancelar"
          (click)="
            service.showFormexperiencia = false;
            formulario.experiencias().clear();
            service.showFormexperienciaModificar = false;
            service.showFormexperienciaModificar1 = false;
            formulario.submit = false;
            service.showFormexperienciaDelete = false"
          id="boton_exit_experiencia"
          class="btn-edit">
          <a href="/portfolio#acerca-de" class="btn-right"
            ><i class="far fa-times-circle"></i
          ></a>
        </div>

        <!-- Botón Agregar Experiencia-->
        <div
          *ngIf="experienciaList.length >= 0"
          title="Agregar"
          class="btn-edit"
          (click)="
            service.showFormexperiencia = true; formulario.resetFormulario()
          "
        >
          <a href="/portfolio#acerca-de" class="btn-right"
            ><i class="fa fa-plus"></i
          ></a>
        </div>

        <!-- Botón Modificar Experiencia-->
        <div
          *ngIf="experienciaList.length > 0"
          title="Modificar"
          class="btn-edit">
          <a
            href="/portfolio#acerca-de"
            class="btn-right"
            (click)="
              service.showFormexperienciaModificar = true;
              form.reset();
              experienciaForm.reset()
            "
            ><i class="fa fa-pen"></i
          ></a>
        </div>

        <!-- Botón Eliminar Experiencia-->
        <div *ngIf="experienciaList.length > 0" title="Eliminar" class="btn-trash">
          <a
            href="/portfolio#acerca-de"
            class="btn-right"
            (click)="
              service.showFormexperienciaDelete = true;
              borrar = false;
              experienciaSeleccionado = false;
              form.reset();
              experienciaForm.reset()
            "
            ><i class="fa fa-trash"></i
          ></a>
        </div>
      </div>

      <!--Formulario Modificar Experiencia Get ID-->
      <div id="formModExperiencia" *ngIf="service.showFormexperienciaModificar">
        <form [formGroup]="form" (ngSubmit)="getId()">
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label class="mr-sm-2" for="inlineFormCustomSelect"
                >Experiencia a modificar</label
              >
              <br />
              <select
                class="form-select"
                id="inlineFormCustomSelect"
                formControlName="puesto"
                (change)="
                  service.showFormexperienciaModificar = false;
                  getNombre();
                  service.showFormexperienciaModificar1 = true
                "
              >
                <option selected>Seleccione...</option>

                <option *ngFor="let experiencia of experienciaList">
                  {{ experiencia.puesto }}
                </option>
              </select>
            </div>
          </div>
        </form>
      </div>

      <!--Formulario modificar Experiencia-->
      <div *ngIf="service.showFormexperienciaModificar1">
        <form
          [formGroup]="experienciaForm"
          (ngSubmit)="
            modificarExp(); service.showFormexperienciaModificar1 = false">
          <div class="col">
            <h2><u>Modificar</u></h2>
            <label class="form-check-label" for="nombreExperiencia">
              Experiencia seleccionada:
              <strong>{{ form.value.puesto }}</strong></label
            >
          </div>

          <div class="form-row">
            <div class="col"></div>
            <input
              type="text"
              class="form-control"
              placeholder="Nombre de la Experiencia"
              id="nombreExperiencia"
              formControlName="puesto"
            />
            

            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="descripción"
                formControlName="descripcion"
              />
            </div>

            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Empresa"
                formControlName="empresa"
              />
            </div>

            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Url de la empresa"
                formControlName="imagen"
              />
            </div>

            <div class="col">
              <label class="form-check-label" for="inicio">Ingreso:</label>
              <input
                type="date"
                class="form-control"
                id="inicio"
                placeholder="Fecha de inicio"
                formControlName="inicio"
              />
            </div>

            <div class="col">
              <label class="form-check-label" for="fin">Egreso:</label>
              <input
                type="date"
                class="form-control"
                id="fin"
                placeholder="Fecha de finalización"
                formControlName="fin"
              />
            </div>

            <div class="col-auto my-1">
              <button
                id="button"
                [disabled]="experienciaForm.invalid"
                style="margin: 20px 5px"
                class="btn btn-success"
                type="submit"
              >
                Modificar
              </button>
            </div>
          </div>
        </form>
      </div>

      <!--Formulario Eliminar-->
      <div *ngIf="service.showFormexperienciaDelete">
        <form [formGroup]="form" (ngSubmit)="getIdBorrar()">
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <h2><u>Eliminar</u></h2>
              <label class="form-check-label" for="dominio">
                <b>Experiencia a eliminar: </b>
                <strong *ngIf="experienciaSeleccionado"
                  ><i style="color: darkred">{{ form.value.puesto }}</i></strong
                ></label
              >
              <br />

              <select
                *ngIf="experienciaSeleccionado == false"
                class="form-select"
                id="inlineFormCustomSelect"
                formControlName="puesto"
                (change)="experienciaSeleccionado = true; getNombre()"
              >
                <option selected>Seleccione...</option>

                <option *ngFor="let experiencia of experienciaList">
                  {{ experiencia.puesto }}
                </option>
              </select>
            </div>
            <div class="col-auto my-1">
              <button
                [disabled]="form.invalid"
                *ngIf="borrar == false"
                (click)="borrar = true"
                type="submit"
                class="btn btn-primary"
              >
                Eliminar
              </button>
              <h2 *ngIf="borrar">
                <strong>Advertencia!!!.</strong>Si oprime "SI", la experiencia:
                <u
                  ><i>"{{ nombreModificar }}"</i></u
                >, se eliminará definitivamente.
              </h2>
              <button
                *ngIf="borrar"
                (click)="deleteExp(); service.showFormexperienciaDelete = false"
                type="submit"
                class="btn btn-danger"
                style="margin: 10px"
              >
                SI
              </button>
              <button
                *ngIf="borrar"
                (click)="service.showFormexperienciaDelete = false"
                type="submit"
                class="btn btn-primary"
                style="margin: 10px"
              >
                NO
              </button>
            </div>
          </div>
        </form>
      </div>

      <app-experiencia-form></app-experiencia-form>
    </div>
    <hr
      style="
        height: 4px;
        border-width: 0;
        color: gray;
        background-color: rgb(28, 49, 20);
      "
    />
    <!-- Lista Experiencias-->
    <div id="info-details" class="col-12">
      <div class="card-text">
        <ul class="list-group list-group-flush items-list">
          <li
            *ngFor="let experiencia of experienciaList; let i = index"
            class="list-group-item"
          >
            <figure class="figure">
              <img
                [src]="experiencia.imagen"
                class="figure-img position-sticky rounded"
                style="height: 55px; width:55px;"
                [alt]="experiencia.empresa"
              />
              <figcaption
                style="margin-top: 10px"
                class="figure-caption float-end"
              >
                {{ experiencia.empresa }}
              </figcaption>
            </figure>
            <h2>{{ experiencia.puesto }}</h2>
            <h3>{{ experiencia.descripcion }}</h3>
            <h3>{{ experiencia.inicio }} - {{ experiencia.fin }}</h3>
          </li>
        </ul>
        <div id="listaExperiencia"></div>
      </div>
    </div>
  </div>
</article>
