<article>
    <div class="card mat-card">
        <div id="logros">
            <div class="card-title">
                <h2>Logros</h2>
                <div *ngIf='!service.onlyRead'>
                    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-plus"></i></a></div>
                    <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
                    <div class="btn-trash"><a href="#" class="btn-right"><i class="fa fa-trash"></i></a></div>
                </div>
            </div>
            <div>
                <ul class="items-list">
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</article>