<section>
  <div class="row">
    <div class="col">
      <h3>SECTION</h3>

      <article id="article1">
            <h4>Artículo 1_División columnas Bootstrap</h4>
            <div class="row">
              <div class="col">
                <h4>col-6</h4>
              </div>
              <div class="col">
                <h4>col-6</h4>
              </div>
            </div>
      </article>

      <article id="article2">
        <div class="row">
          <div class="col">
            <h4>Articulo 2_Tabla-Bootstrap</h4>

            <table class="table table-info">
              <thead>
                <tr class="table-primary">
                  <th scope="col">Id</th>

                  <th scope="col">Nombre</th>

                  <th scope="col">Apellido</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <th class="table-secondary" scope="row">1</th>

                  <td>Eduardo</td>

                  <td>Silva</td>
                </tr>

                <tr>
                  <th class="table-secondary" scope="row">2</th>

                  <td>Daysi</td>

                  <td>Fernandez</td>
                </tr>

                <tr>
                  <th class="table-secondary" scope="row">3</th>

                  <td>Dilan</td>

                  <td>Gerber</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </article>

      <aside id="aside">
        <div class="row">
          <div class="col">
            <h5>Aside</h5>
            <h6>Imagen_Responsive_Bootstrap</h6>
            <img
              src="assets/imagen_de_fondo.jpg"
              class="img-fluid"
              alt="imagen_bootstrap"
            />
          </div>
        </div>
      </aside>

      <form id="form1" class="row gx-3 gy-2 align-items-center">
        <h6>Formulario-Bootstrap</h6>

        <div class="col-sm-3">
          <label class="visually-hidden" for="specificSizeInputName"
            >Name</label
          >
          <input
            type="text"
            class="form-control"
            id="specificSizeInputName"
            placeholder="Edu Silva"
          />
        </div>
        <div class="col-sm-3">
          <label class="visually-hidden" for="specificSizeInputGroupUsername"
            >Username</label
          >
          <div class="input-group">
            <div class="input-group-text">@</div>
            <input
              type="text"
              class="form-control"
              id="specificSizeInputGroupUsername"
              placeholder="Username"
            />
          </div>
        </div>
        <div class="col-sm-3">
          <label class="visually-hidden" for="specificSizeSelect"
            >Preference</label
          >
          <select class="form-select" id="specificSizeSelect">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="col-auto">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="autoSizingCheck2"
            />
            <label class="form-check-label" for="autoSizingCheck2">
              Remember me
            </label>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
