section {
  border: 15px;
  border-style: groove;
  margin: 50px;
  text-align: center;
}

#article1 {
  margin: 15px;
  padding: 2em;
  color: white;
  border: solid;
  border-radius: 12px;
  border-color: rgb(8, 8, 8);
  background-color: rgb(63, 55, 55);
}

#article1 .row {
    padding: 1em;
  border: solid;
  border-radius: 8px;
  border-color: rgb(187, 111, 34);
  background-color: rgb(63, 55, 55);
}

#article1 .col {
  border-style: groove;
  border-radius: 5px;
  border-color: rgb(173, 62, 62);
  background-color: rgb(63, 55, 55);
}

#article2 {
    margin: 15px;
    padding: 2em;
    border: solid;
    border-radius: 12px;
    border-color: rgb(8, 8, 8);
  }

  aside {
    margin: 15px;
    padding: 2em;
    border: solid;
    border-radius: 12px;
    border-color: rgb(8, 8, 8);
  }

  #form1 {
    margin: 15px;
    padding: 2em;
    border: solid;
    border-radius: 12px;
    border-color: rgb(8, 8, 8);
  }