<div
  id="experiencia-form"
  name="formulario-experiencia"
>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="
      onSubmit(); service.showFormexperiencia = false; this.submit = false"
    class="col-12"
    id="form-experiencia"
    *ngIf="service.showFormexperiencia"
  >
    <!-- Botón Salir del formulario-->
    <div
      title="Cancelar"
      id="boton_exit"
      (click)="
        experiencias().clear();
        service.showFormexperiencia = false;
        this.submit = false"
      class="btn-edit"
      style="left: 5px"
    >
      <a href="#experiencia" class="btn-right"
        ><i class="far fa-times-circle"></i
      ></a>
    </div>

    <!--Formulario para el Post de Experiencia-->
    <div style="margin-bottom: 50px" formArrayName="experiencias">
      <div *ngFor="let experiencia of experiencias().controls; let i = index">
        <div [formGroupName]="i">
          <div class="form-row">
            Nº: {{ i + 1 }}

            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="puesto"
                formControlName="puesto"
              />
            </div>

            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="descripción"
                formControlName="descripcion"
              />
            </div>

            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Empresa"
                formControlName="empresa"
              />
            </div>

            <div class="col">
              <input
                type="text"
                class="form-control"
                placeholder="Pegar el link del logo de la empresa"
                formControlName="imagen"
              />
              <p>
                Ejemplo:
                <a
                  href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/INTI_Logo_2019.png/800px-INTI_Logo_2019.png"
                  >Link del logo de INTI</a
                >
              </p>
            </div>

            <div class="col">
              <label class="form-check-label" for="inicio"
                >Fecha de inicio:</label
              >
              <input
                type="date"
                class="form-control"
                id="inicio"
                placeholder="Fecha de inicio"
                formControlName="inicio"
              />
            </div>

            <div class="col">
              <label class="form-check-label" for="fin"
                >Fecha de finalización:</label
              >
              <input
                type="date"
                class="form-control"
                id="fin"
                placeholder="Fecha de finalización"
                formControlName="fin"
              />
            </div>
          </div>
        </div>
      </div>
      <hr />
      <button
      type="button" class="btn btn-outline-success"
        (click)="addExperiencia(); this.submit = true"
      >
        + Agregar Experiencia
      </button>
    </div>

    <button
      *ngIf="this.submit == true"
      id="button"
      [disabled]="profileForm.invalid"
      style="margin: 20px 5px"
      class="btn btn-success"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
