<footer id="footer">
    <!-- Botones sociales-->
    <div class="botonessociales">
        <a href="https://www.facebook.com/profile.php?id=100014055543730" target="_blank"><img
                alt="Sígueme en Facebook" height="40" src="/assets/logos_redes/Facebook_Logo.png"
                title="Sígueme en Facebook" width="40" /></a>
        <a href="https://twitter.com/_DaysiFernandez" target="_blank"><img alt="Sígueme en Twitter" height="40"
                src="/assets/logos_redes/Twitter_Logo.png" title="Sígueme en Twitter" width="40" /></a>
        <a href="https://www.instagram.com/daysi.fernandez.rejas/" target="_blank"><img alt="Sígueme en Instagram"
                height="40" src="/assets/logos_redes/Instagram_Logo.png" title="Sígueme en Instagram"
                width="40" /></a>
        <a href="https://ar.pinterest.com/daysifr1234/" target="_blank"><img alt="Sígueme en Pinterest" height="40"
                src="/assets/logos_redes/Pinterest_Logo.png" title="Sígueme en Pinterest" width="40" /></a>
    </div>

    <address>
        <div>
            <i class="fa fa-whatsapp" aria-hidden="true"></i>1161085258 | <i class="fa fa-envelope"
                aria-hidden="true"></i>
            <a href="mailto:silvaeduardojavier@hotmail.com.com"> silvaeduardojavier@hotmail.com</a>
            <p style="font-size: 8pt">
                2022 EduardoJSilva®. Todos los derechos registrados.<br>
                Webmaster:<a style="font-size: 6pt"
                    href="mailto:silvaeduardojavier@hotmail.com">silvaeduardojavier@hotmail.com</a>

            </p>

        </div>
    </address>
</footer>
