<!-- Barra superior movil en todo el header-->
<nav id="barrasuperior" class="col-12 navbar bg-dark">

        <div id="logosargprograma" class="img-fluid">

            <span>
                <a href="https://argentinaprograma.inti.gob.ar" class="navbar-brand has-logo">
                    <img src="/assets/logos_argentinaPrograma/APLogo-20-20.png" alt="Argentinaprograma" width="130" height="75">
                </a>
            </span>

            <span>
                <a href="https://argentinaprograma.inti.gob.ar" class="navbar-brand has-logo">
                    <img src="/assets/logos_argentinaPrograma/LogosInti.png" alt="Inti" width="200" height="60">
                </a>
            </span>

            <span>
                <h3>#YoProgramo</h3>
            </span>

        </div>

        <div id="botonessociales">

            <span class="logo img-fluid" style="margin-left: 15px;">
                <a href="" class="navbar-brand has-logo">
                    <img src="/assets/logos_redes/GitHub-Mark/PNG/GitHub-Mark-Light-120px-plus.png" alt="Github" width="35" height="35">
                </a>
            </span>

            <span class="logo img-fluid">
                <a href="" class="navbar-brand has-logo">
                    <img src="/assets/logos_redes/LinkedIn-Logos/LI-In-Bug.png" alt="LinkedIn" width="35" height="35">
                </a>
            </span>

            <span class="logo img-fluid">
                <a href="" class="navbar-brand has-logo">
                    <img src="/assets/logos_redes/Twitter_Logo.png" alt="Twitter" width="35" height="35">
                </a>
            </span>

            <span>
                <a class="navbar-brand has-logo nav-header-guest__link nav-header-guest__link--login btn btn-primary" href="" target="_self" data-track-action="CLICK" data-track-id="login">Login</a>
                <a class="navbar-brand has-logo nav-header-guest__link nav-header-guest__link--login btn btn-primary" style="display:none" data-track-action="CLICK" data-track-id="logout">Logout</a>
            </span>
        </div>
    </nav>
