<!-- Formulario Portada-->

<div class="card" name="formulario-portada" id="portadaform">
  <form
    [formGroup]="myForm"
    (ngSubmit)="cambiarPortada(); service.showFormCarousel = false"
    *ngIf="service.showFormCarousel"
    class="col-6"
    id="formularioPortada"
  >
    <!-- Botón Salir del formulario-->
    <div
      title="Cancelar"
      id="boton_exit"
      (click)="this.fotito1 = null;this.fotito2 = null;this.fotito3 = null;service.showFormCarousel = false"
      class="btn-edit"
    >
      <a href="#experiencia" class="btn-right"
        ><i class="far fa-times-circle"></i
      ></a>
    </div>

    <label>Seleccione tres imagenes para la portada</label>

    <!--Foto1-->
    <div class="card pmd-card bg-dark text-white">
      <label class="custom-file-label" for="formFile1">Imagen uno:</label>
      <input
        formControlName="file"
        type="file"
        (change)="onFileChange1($event)"
        id="formFile1"
        accept=".jpg, .jpeg, .png"
        class="custom-file-input"
      />
      <p class="alert alert-danger" *ngIf="this.fotito1 && this.fotito1.size >150000">Por favor
        inserte una imagen que no exceda los 150kb</p>
    </div>

    <!--Foto2-->
    <div class="card pmd-card bg-dark text-white">
      <label class="custom-file-label" for="formFile2">Imagen dos:</label>
      <input
        formControlName="file"
        type="file"
        (change)="onFileChange2($event)"
        id="formFile2"
        accept=".jpg, .jpeg, .png"
        class="custom-file-input"
      />
      <p class="alert alert-danger" *ngIf="this.fotito2 && this.fotito2.size >150000">Por favor
        inserte una imagen que no exceda los 150kb</p>
    </div>

    <!--Foto3-->
    <div class="card pmd-card bg-dark text-white">
      <label class="custom-file-label" for="formFile3">Imagen tres:</label>

      <input
        formControlName="file"
        type="file"
        (change)="onFileChange3($event)"
        id="formFile3"
        accept=".jpg, .jpeg, .png"
        class="custom-file-input"
      />
      <p class="alert alert-danger" *ngIf="this.fotito3 && this.fotito3.size >150000">Por favor
        inserte una imagen que no exceda los 150kb</p>
    </div>

    <div
      *ngIf="f['file'].touched && f['file'].invalid"
      class="alert alert-danger"
    >
      <div *ngIf="f['file'].errors && f['file'].errors['required']">
        Por favor suba una imagen.
      </div>
    </div>

    <button *ngIf="this.fotito1 && this.fotito2 && fotito3 && (this.fotito1.size <150000 || this.fotito2.size <150000 || this.fotito3.size <150000)" class="btn btn-primary" [disabled]="myForm.invalid || this.fotito1.size >150000 || this.fotito2.size >150000 || this.fotito3.size >150000" type="submit">
      Submit
    </button>
  </form>
</div>
