<!-- Formulario Foto Principal-->
<div name="formulario-foto-principal" id="form-foto">
    <form [formGroup]="myForm" (ngSubmit)="cambiar_imagenPrincipal(); service.showFormFoto=false" class="col-6" id="formularioFotoPrincipal" *ngIf="service.showFormFoto">
                    <!-- Botón Salir del formulario-->
    <div title="Cancelar" id="boton_exit" (click)="service.showFormFoto=false" class="btn-edit" style="margin-top: 20px; position:absolute; left:600px;">
        <a href="#experiencia" class="btn-right"><i class="far fa-times-circle"></i></a>
    </div>

        <label style="margin-top: 20px; margin-left: 5px;">Suba una foto para su Portfolio</label>

        <!--Foto-->
        <div class="card pmd-card bg-dark text-white" style="margin: 5px;">
            <label class="custom-file-label" for="formFile1">Foto de perfil:</label>
            <input formControlName="file" type="file" (change)="onFileChange($event)" id="formFile1"
                accept=".jpg, .jpeg, .png" class="custom-file-input" />
        </div>

        <button style="margin:5px;" class="btn btn-primary" [disabled]="myForm.invalid" type="submit">Submit</button>

    </form>
</div>