<div *ngIf="acercaDe" class="card mat-card">
    <div id="acerca-de">
        <div class="card-titles">
            <h2>Acerca de</h2>
            <div id="idform-acercade"></div>
            <div>
                <button id="boton_edicion" title="Modificar" class="btn"
                (click)="service.showFormAcercaDe= true; formulario.resetFormulario()" *ngIf='!service.onlyRead'>
                <a href="/portfolio#idform-acercade"><i class="fa fa-pen"></i></a>
            </button>

            </div>

        </div>
        <div>
            <p id="text-acercade">{{acercaDe}}</p>
        </div>
    </div>
</div>
<app-acerca-de-form id="idagregarexperiencia">

</app-acerca-de-form>
