<!-- Datos básicos-->
<div *ngIf="user" id="info-data" class='container'>
    <div class="row">
        <div id="datos" class="col-4 card">
            <div class="card-body">
                <div>
                    <button id="boton_edicion" title="Modificar" class="btn" (click)="service.showFormDatos= true; formulario.resetFormulario()" *ngIf='!service.onlyRead'><a
                            href="/portfolio#text-direccion" class="btn-edit">
                            <i class="fa fa-pen"></i>
                        </a>
                    </button>
                </div>
                <div>
                    <h1 id="text-nombre" class="card-title">{{user[0].firstName}} {{user[0].lastName}}</h1>
                    <h2 id="text-titulo" class="card-subtitle mb-2 text-muted">{{user[0].puesto}}</h2>
                    <h3 id="text-dni" class="card-text"><b>Dni: {{dni(user[0].documento)}}</b></h3>

                    <h3 id="text-date" class="card-text">Edad: {{obtenerEdad(user[0].fecha_nacimiento)}}</h3>
                    <h3 id="text-direccion" class="card-text">{{direccion}}</h3>
                </div>
            </div>

        </div>


        <div id="contacto" class="col-4 card ">
            <div class="card-header">Contacto:</div>
            <div class="card-body">
                <h2 id="telefono" class="card-title"><i class="fa-brands fa-whatsapp"></i>
                    <a href="https://wa.me/549{{user[0].telefono}}">{{user[0].telefono}}</a>
                </h2>
                <h2 id="email" class="card-title"><i class="fa-duotone fa-at"></i>
                    <a href="mailto:{{user[0].email}}">
                        {{user[0].email}}</a>
                </h2>
            </div>
        </div>

        <!--Lista de las instituciones vinculadas con la profesión-->
        <div id="info-details" class="col-3 card offset-md-1">
            <div class="card-text">
                <ul class="list-group list-group-flush">

                    <li *ngFor="let institucion of institucionList; let i=index" class="list-group-item">
                        <a href="#">
                            <div style='display:inline-flex'>
                                <img #imagenInsti id="insti{{i}}" [src]="institucion.logo">
                                <h2 #nombreInsti id="nombre{{i}}">{{institucion.institucion}}</h2>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-datos-basicos-form></app-datos-basicos-form>

<!--INVESTIGAR Angular Material-->
<mat-slider min="1" max="100" step="1" value="50"></mat-slider>