
#profile-background{
  display: flex;
}

.carousel{
  margin: 0;
}

.card{
  border: none;

}

#modificar-carousel{
  border-radius: 32px;
  padding: 5px;
  background-color: whitesmoke;
  float: right;
  color: black;

}

#boton-text{
  display:inline-flex;
}

#boton{
  margin-top: 1px;
  }

#text{
margin-left: 4px;
}

a{
  text-decoration: none;
  color:black;
}

.container-fluid{
 height: 500px;
}

.carousel{
  align-items: center;
  vertical-align: middle;
  height: 400px;
}


/* X-Small devices (portrait phones, less than 576px)
/ No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {

  .container-fluid{
    height: 250px;
    width:auto;
    max-width: 767px;
   }

   .carousel{
     align-items: center;
     height: 200px;
   }

   #profile-background{
   /* margin-left: -25px;*/
   /* width:400px;*/
    height: auto;
  }

   #modificar-carousel{
     width: 150px;
    border-radius: 50px;
    padding: 5px;
    background-color: whitesmoke;
    float: right;
    color: black;
    font-size: 12px;

  }

  #modificar-carousel{
position: sticky;
  }


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px)  {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399px) {

}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}



