.container {
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 60% !important;

}

.maximo-width {
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 40%;
}

.maximo-width1 {
  margin-right: auto !important;
  margin-left: auto !important;
  max-width: 40%;
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
  .container {
    display:block !important;
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 100% !important;

  }

  .maximo-width {
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 100% !important;
  }

  .maximo-width1 {
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 100% !important;
  }
    }
